section{
    display: flex;
    justify-content: center;
}

hr {
    opacity: 50%;
}

.h1__purple {
    color: #4A4FF2;
}

.start-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
}

.italic {
    font-family: Mulish;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}