$main-txt-color: #111111; 

body {
    display: flex;
}

.footer {
    display: flex;
    position: relative;
    transform:translate(126px, 1000px);
    flex-shrink:0;
    max-width: 1110px;
    padding-bottom: 50px;
}

.footer__logo {
    max-width: 91px;
    justify-self: center;
    position: absolute;
}
    
/*
    Behöver sätta - på translate för att nav och icons ska hamna
    jämt med loggan. Ska det vara så?
*/

.footer__navbar {
    text-align: left;
    justify-self: center;
    transform:translate(557px, -10px);
}

.footer__navbar__ul {
    list-style-type: none;
}

.footer__navbar__li {
    list-style: none;
    float: left;
}
.footer__navbar__a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color:$main-txt-color;
    padding-left:29px;
    &:hover {
        color: grey;
    }
}

.icons{
    transform:translate(700px, -10px);
}

.icons__ul {
    list-style-type: none;
 }

.icons__li {
    list-style: none;
    float: right;
    padding: 10px;
}
