
$main-font:  'Mulish', sans-serif;


/*
    Jag har testat en mängd olika varianter för att få
    footern att vara längst ner på sidan oavsett content,
    men lyckas inte. Vad är tokigt? 
    Har kommenterat ut alla tidigare versioner och bara 
    haft med den infon som de visat, men lyckas ändå inte. 
    
    Jag har nu valt att ha den fixed, då den med absolute
    hamnar mitt under grid-bilderna på förstasidan (dvs ändå 
    följt med en del content ner från "height" eller hur man
    ska förklara).

*/

.footer {
    position: fixed;
    background-color: #FFF;
    align-items: center;
    width: 100%;
    bottom: 0;
    display: flex;
    height: 50px;
    flex-shrink:0;
    margin-left: 125px; 
    padding-bottom: 20px;
    margin:auto;
    transform: translateX(120px);
}

.footer__logo {
    max-width: 91px;
    justify-self: center;
    position: absolute;
}
    
/*
    Behöver sätta - på translate för att nav och icons ska hamna
    jämt med loggan. Ska det vara så?
*/

.footer__navbar {
    text-align: left;
    justify-self: center;
    transform:translate(557px, -5px);
}

.footer__navbar__ul {
    list-style-type: none;
}

.footer__navbar__li {
    list-style: none;
    float: left;
}
.footer__navbar__a {
    text-decoration: none;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color:$main-txt-color;
    padding-left:29px;
    &:hover {
        color: grey;
    }
}

.icons{
    transform:translate(700px, -5px);
}

.icons__ul {
    list-style-type: none;
 }

.icons__li {
    list-style: none;
    float: right;
    padding: 10px;
}
