$main-txt-color: #111111; 

body {
    display: flex;
}

.footer {
    display: flex;
    position: relative;
    transform:translateY(4000px);
}

.footer__logo {
    max-width: 91px;
    justify-self: start;
    position: absolute;
}
    
.footer__navbar {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

.footer__navbar__ul {
    list-style-type: none;
}

.footer__navbar__li {
    list-style: none;
    float: left;
}
.footer__navbar__a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color:$main-txt-color;
    padding-left:29px;
    &:hover {
        color: grey;
    }
}

.icons{
    display: flex;
    justify-self: end;

    &__ul {
        list-style-type: none;
    }

    &__li {
        list-style: none;
        float: right;
        padding: 10px;
    }
}
