.grid__container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (26, 1fr);
    grid-gap: 1em;
    margin-left: -400px;
    transform:translate(120px, 565px);

    &__first {
        grid-area: 1/1/6/2;
    }
    
    &__second {
        grid-area: 1/2/4/3;
    }

    &__third {
        grid: 1/3/9/4;
    }
}