.grid__container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (26, 1fr);
    grid-gap: 1em;
    margin-left: -400px;
    transform:translate(300px, 565px);

    &__first {
        grid-area: 1/1/6/2;
    }
    
    &__second {
        grid-area: 1/2/4/3;
    }

    &__third {
        grid-area: 1/3/9/4;
    }

    &__fourth {
        grid-area: 6/1/12/2;
    }

    &__fifth {
        grid-area: 5/2/11/3;
    }

    &__sixth {
        grid-area: 12/3/14/4;
    }

    &__seventh {
        grid-area:23/1/23/2;
    }

    &__eighth {
        grid-area: 23/1/23/2;
    }

    &__ninth {
        grid-area: 23/1/23/2;
    }

    &__tenth {
        grid-area: 23/1/23/2;
    }

    &__eleventh {
        grid-area: 23/1/23/2;
    }

    &__twelth {
        grid-area: 23/1/23/2;
    }
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.grid__box1 {
    grid-area: 60%;

}

.grid-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #111111;
}

.flexbox {
    display: flex;
}

.flexbox__text {
    max-width: 635px;
    justify-content: center;
    transform:translateY(4626px);
}

.navbar-1 {
    grid-area: 30%;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-left: 20px;
    justify-content: center;
}

.navbar-1__li {
    list-style: none;
}

.navbar-1__ul {
    list-style-type: none;
}

.navbar-1__a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color:$main-txt-color;
    padding-left:29px;
}

.navbar-2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
    padding-left: 20px;
    justify-content: center;
}

.navbar-2__li {
    list-style: none;
}

.navbar-2__ul {
    list-style-type: none;
}

.navbar-2__a {
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color:$main-txt-color;
    padding-left:29px;
    &:hover {
        color: grey;
    }
}


.grid__container3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 30% 30% 30% 10%;
    transform:translate(126px, 900px);
}

.divider1 {
    position: absolute;
    transform:translateY(400px);
}

.divider2 {
    position: absolute;
    transform:translateY(800px);
}

.grid__container4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 30% 30% 30% 10%;
    transform:translate(126px, 1100px);
}

.grid__container5 {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 30% 30% 30% 10%;
    transform:translate(126px, 1300px);
}

.grid__container6 {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 30% 30% 30% 10%;
    transform:translate(126px, 1500px);
}