$main-txt-color: #111111; 
$main-font:  'Mulish', sans-serif;

body {
    display: flex;
}

.header {
    flex-shrink: 0;
    justify-items: center;
    position: absolute;
    top: 30px;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 140px;

    &__logo {
        margin-left: 121px;
        max-width: 91px;
    }
}
    
.nav {
    display: flex;
    justify-content: space-evenly;
    transform:translate(1000px, -20px);
    text-align: left;

    &__ul {
        list-style-type: none;
    }

    &__a {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.346154px;
        color: $main-txt-color;
    }

    &__li {
        list-style: none;
        float: left;
    }

    &__link {
        text-decoration: none;
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.346154px;
        color:$main-txt-color;
        padding-left:29px;
        &:hover {
            color: grey;
        }
    }
}