$main-txt-color: #111111; 
$main-font:  'Mulish', sans-serif;

/*
    Jag får inte main-txt-color och main-font att funka om inte det
    står med ovan - trots att det står med i _fonts.scss och som @use 
    överst i index.scss. Scout-appen säger till att det är tokigt på
    de raderna där jag använt det.
*/


@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform:$property;
}


.landingpage {
    height: 100vh;
    position: relative;
    padding-bottom: 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction:column; 
    flex-grow: 1;
}


/* Hur ser jag till att allt content hamnar i mitten oavsett skärmstorlek? */

.main {
    height: 100vh;
    padding-bottom: 55px;
    box-sizing: border-box;
    position: relative;
    flex: 1;
    justify-content: center;
    position: relative;
    flex-grow:1;
    max-width: 1110px;

    &__container {
        transform:translate(125px, 180px);
        margin-left: 20px;
        position: absolute;
        max-width: 635px;
    }

    &__container2 {
        transform:translate(950px, 385px);
        min-width: 212px;
    }

    &__starttext {
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
        position: absolute;
    }

    &__h1{
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: $main-txt-color;
        @include transform(translate(0px, 32px));
    }

    &__span {
        color: #4A4FF2;
    }

    &__underline {
        opacity: 50%;
        position: absolute;
        @include transform(translate (950px, 255px));
    }

    &__italic {
        font-family: Mulish;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: $main-txt-color;
        mix-blend-mode: normal;
        opacity: 0.6;
        padding-top: 20px;
    }
}

@import 'grid';